.heading {
  margin-bottom: 2em;
}
.title {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}
.date {
  color: var(--secondary-text-color);
  font-size: 0.75em;
}
.note {
  flex-basis: 0;
  flex-grow: 99;
  min-width: 60%;
}
