.about_title {
  border-bottom: 1px solid var(--line-color);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
.about_content {
  display: flex;
  flex-wrap: wrap;
}
.about_content > div {
  flex-basis: 20em;
  flex-grow: 1;
  padding: 1em;
}
