.search {
  margin-bottom: 0.5em;
  position: relative;
  text-align: center;
}
.search i {
  font-size: 1.25em;
  padding: 0.45em;
  color: var(--link-color);
  position: absolute;
}
.search input {
  border: 1px solid silver;
  border-radius: 0.25em;
  color: var(--secondary-text-color);
  font-size: 1.25em;
  padding: 0.25em;
  padding-left: 1.75em;
  width: 100%;
}
article {
  > a {
    border-bottom: 1px solid var(--line-color);
    padding: 0.75em 0;
    color: var(--text-color);
    display: block;
    text-decoration: none;
    &:hover {
      color: var(--text-color);
      .title {
        color: var(--link-hover-color);
      }
    }
  }
  .title {
  }
  .meta {
    color: var(--secondary-text-color);
    font-size: 0.75em;
    margin-top: 0.65em;
    .date {
    }
    .tags {
      margin-left: 0.5em;
      .tag {
        white-space: nowrap;
        &+ .tag {
          margin-left: 0.25em;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .search {
    margin-bottom: 1.5em;
  }
  article {
    > a {
      border: none;
    }
  }
}
