.table {
  margin: 0 auto;
  margin-top: 1em;
}
.table tr.head th {
  padding-left: 0.25em;
}
.table .row:hover {
  background-color: var(--block-link-hover-color);
}
.table .row td {
  min-height: 100%;
  padding: 0;
}
.table .row td a {
  display: block;
  padding: 0.25em 0.5em;
  width: 100%;
}
.table .td a:hover {
  color: var(--link-color);
}
.table .number a {
  color: var(--text-color);
}
