.employment {
  margin-bottom: 3em;
}
.heading {
  text-align: center;
  margin-bottom: 1em;
}
.htop {
  display: flex;
  align-items: center;
}
.image {
  margin: 0 0.75em;;
  margin-bottom: 0.5em;
}
.line {
  flex-grow: 99;
}
.subtitle {
  color: var(--secondary-text-color);
  font-size: 0.75em;
}
.title, .dates {
  display: block;
  white-space: nowrap;
}
.title {
  margin-bottom: 0.5em;
}
.line {
  background-color: var(--secondary-text-color);
  opacity: 0.3;
  height: 1px;
}
