.header {
  border-top: 2px solid var(--primary-color);
  color: var(--text-color);
  font-family: var(--header-font-family);
  margin-bottom: 2em;
  padding: 1em;
  padding-bottom: 2em;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-max-width);
  overflow: visible;
}
.title {
  color: var(--text-color);
  height: 100%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.title:hover {
  color: var(--text-color);
}
.menu {
  text-align: center;
}
.link {
  color: var(--text-color);
  margin: 0 1em;
  text-decoration: none;
}
.selected {
  color: var(--primary-color);
}
