.header {
  font-family: var(--header-font-family);
  margin-bottom: 2em;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-max-width);
  overflow: visible;
}
.title {
  color: var(--primary-color);
  font-family: "Architects Daughter", cursive;
  font-size: 3em;
  height: 100%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.menu {
  text-align: center;
}
.link {
  color: var(--primary-color);
  margin: 0 1em;
  text-decoration: none;
}
