@import "reset.css";
@import "../../node_modules/katex/dist/katex.min.css";
@import "../../node_modules/prismjs/themes/prism-coy.css";
@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";

:root {
  --main-bg-color: white;
  --main-color: #303030;
  --header-bg-color: #61b33b;
  --header-color: white;
  --header-font-family: "Georgia, Times, serif";
  --blockquote-accent-color: #FF0000;
}

/* Prismjs overrides */
pre[class*="language-"]:before,
pre[class*="language-"]:after {
  display: none;
}
pre[class*="language-"] {
  font-size: 0.75em;
}
pre[class*="language-"] .line-numbers-rows {
  line-height: 1.5em;
  padding-left: 2em;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: Trebuchet, Verdana, sans-serif;
}
main {
  margin: 0 auto;
  max-width: 1200px;
}
header .header-content {
  margin: 0 auto;
  max-width: 1200px;
}

.mdx {
  padding: 1em;
}

.mdx strong {
  font-weight: bolder;
}
.mdx em {
  font-style: italic;
}
.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
  font-weight: bolder;
  padding-bottom: 0.5em;
}
.mdx h1,
.mdx h2 {
  padding-top: 0.5em;
}
.mdx h1 {
  font-size: 2em;
}
.mdx h2 {
  font-size: 1.75em;
}
.mdx h3 {
  font-size: 1.5em;
}
.mdx h4 {
  font-size: 1.25em;
}
.mdx h5 {
  font-size: 1em;
}
.mdx h6 {
  font-size: 0.85em;
}
.mdx blockquote,
.mdx details,
.mdx dl,
.mdx ol,
.mdx p,
.mdx pre,
.mdx table,
.mdx ul {
  line-height: 1.25em;
  margin-bottom: 1em;
}
.mdx blockquote {
  border-left: .25em solid var(--blockquote-accent-color);
  padding: 0 1em;
}
.mdx blockquote>* {
  margin: 0.5em 0;
}
.mdx blockquote>:first-child {
  margin-top: 0;
}
.mdx blockquote>:last-child {
  margin-bottom: 0;
}
.mdx blockquote>footer {
  color: var(--blockquote-accent-color);
  filter: opacity(50%);
  font-size: 0.75em;
  font-style: italic;
}

.mdx ul {
  list-style: disc outside none;
  padding-left: 1.2em;
}

.mdx li {
  word-wrap: break-all;
}

/* Solution component */
.solution {
  overflow: hidden;
  width: 100%;
}
.solution label {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.solution label::before {
  content: "\276F";
  height: 1em;
  text-align: center;
  transition: all .35s;
  width: 1em;
}
.solution label .text {
  padding-left: 0.5em;
}
.solution input {
  display: none;
}
.solution input:checked + label::before {
  transform: rotate(90deg);
}
.solution input:checked ~ .contents {
  display: block;
}
.solution .contents {
  display: none;
  padding: 0 1em;
  transition: all .35s;
}
