.heading {
  border-bottom: 1px solid var(--secondary-color);
  font-family: var(--header-font-family);
  margin-bottom: 2em;
  margin-top: -1.5em;
}
.easy {
  color: var(--leetcode-easy);
}
.medium {
  color: var(--leetcode-medium);
}
.hard {
  color: var(--leetcode-hard);
}
.difficulty,
.link {
  font-size: 0.75em;
}
.link i {
  margin-right: 0.25em;
}
.link i {
  font-size: 0.85em;
  vertical-align: middle;
}
.link {
  margin-left: 2em;
}
