.table {
  margin: 0 auto;
}
.table > div {
  display: flex;
}
.table > div > div {
  flex: 1;
}
.easy {
  color: var(--leetcode-easy);
}
.medium {
  color: var(--leetcode-medium);
}
.hard {
  color: var(--leetcode-hard);
}
