.heading {
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1em;
}
.title {
}
.easy {
  color: var(--leetcode-easy);
}
.medium {
  color: var(--leetcode-medium);
}
.hard {
  color: var(--leetcode-hard);
}
.difficulty,
.date,
.link {
  font-size: 0.75em;
}
.date i,
.link i {
  font-size: 1.125em;
  margin-right: 0.25em;
  padding-bottom: 0.075em;
}
.difficulty {
  margin-left: 2em;
  text-transform: uppercase;
}
.link {
  margin-left: 2em;
}
.date {
}
