.table {
  margin: 0 auto;
  margin-top: 1em;
}
.table td.left {
  text-align: left;
}
.table td.center {
  text-align: center;
}
.easy {
  color: #2f9c0a;
  /*color: #77dd77;*/
}
.medium {
  color: #e69e39;
  /*color: #ffb347;*/
}
.hard {
  color: #c92c2c;
  /*color: #ff6961;*/
}
