.table {
  margin: 0 auto;
  margin-top: 1em;
}
.table .trtd:hover {
  background-color: var(--block-link-hover-color);
}
.table .name {
  height: 100%;
  padding: 0;
}
.table .name a {
  display: block;
  padding: 0.25em 0.5em;
}
.table .td a:hover {
  color: var(--link-color);
}
.easy {
  color: var(--leetcode-easy);
}
.medium {
  color: var(--leetcode-medium);
}
.hard {
  color: var(--leetcode-hard);
}
