.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form input {
  font-family: var(--body-font-family);
  height: 2.5em;
}

.form button {
  background-color: var(--link-hover-color);
  border: 1px solid var(--link-color);
  border-radius: 0.25em;
  color: white;
  padding: 0.25em 0.5em;
  font-family: var(--body-font-family);
}

.form button:hover {
  cursor: pointer;
  background-color: var(--link-color);
}
